<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="/css/estilo.css">
</head>
<body>
<div class="menu-bar">
    <a href="/">Home</a>
    <a href="#about">About Me</a>
    <a href="#finalproject">Final Project</a>
    <!-- Otros enlaces del menú -->
</div>
<div class="container">
    <div class="sidebar">
        <h2>Assignments</h2>
        <ul>
            <li><a href="/files/assignment1">Week 1: Assignment 1</a></li>
            <li><a href="/files/assignment2">Week 2: Assignment 2</a></li>
            <li><a href="/files/assignment3">Week 3: Assignment 3</a></li>
            <li><a href="/files/assignment4">Week 4: Assignment 4</a></li>
            <li><a href="/files/assignment5">Week 5: Assignment 5</a></li>
            <li><a href="/files/assignment6">Week 6: Assignment 6</a></li>
            <li><a href="/files/assignment7">Week 7: Assignment 7</a></li>
        </ul>
    </div>
    <div class="content">
        {{ content }}
    </div>
</div>
</body>
</html>

